@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <div class="container">
        <h1>感谢您使用Tools Buck</h1>
        <p>Tools Buck 是简化工具使用平台，基于.Net MVC 4.0 和 BootStrap 3.3</p>
        <p><a class="btn btn-primary btn-lg" href="http://www.chinaums.com" role="button">公司官网</a></p>
    </div class="container">
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>AutoSQL</h2>
            <p>上线语句管理工具，依据用户输入的交易代码，生产所需资源的Insert语句，根据准生产环境规避冲突，并记录日志。</p>
            <p><a class="btn btn-default" href="#" role="button">进入应用 &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>To Be Continue ... </h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>

    <hr>
</div class="container">

